body {
    background-color: #181616;
}

.borde {
    border-radius: 20px;
}
.pc {
    width: 70%;
    height: auto;
    border-radius: 20px;
}
.boton1 {
background: linear-gradient(270.82deg, rgba(198, 0, 48, 0.84) 46.03%, rgba(175, 15, 159, 0.1092) 95.57%);
border: 0.5px solid #61B0DC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-style: normal;
font-weight: 600;
font-size: 28px;
/* width: 20px; */
color: #FFFFFF;
}
.boton2{
    background: rgb(34,70,195);
background: linear-gradient(70deg, rgba(34,70,195,1) 29%, rgba(81,221,15,1) 61%);
border: 0.5px solid #61B0DC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-style: normal;
font-weight: 600;
font-size: 28px;
color: #FFFFFF;



}

