@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

header {
  font-size: 23px;
  line-height: 4s0px;
}

/*tamano imagen*/
.carousel-inner img {
 
  width: 100vh;
  height: 100%;
  
}


.img-fluid{
  height: auto;
  min-width: 100%;
}

/*tamano carrusel*/
.carousel-inner{
height: auto;

}

.carousel{
margin-top: 3%;
}

.tamanio-titulo{
  font-size: 5vw;
  text-align: center;
  padding-top: auto 0;

  
}

.tamanio-coment{
  font-size: 2vw;
  text-align: center;
  
}



main .centro{
  
  margin-top: 20%;
  margin-bottom: 5%;
  font-weight: bolder;
  color: #da2969;
  text-align: center;
  
  
}

main .centro1{
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
}



.texto {
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: bolder;
  color: green;
  text-align: center;
  
}


.video{
  border: 3px solid green;
  height: 0%;
  padding-bottom: 44.75%;
  padding-right: 79.25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;  
  border-radius: 10px;
} 

.video iframe{
position: absolute;
top:0;
left: 0;
height: 100%;
width: 100%; 
border-radius: 10px;

}

.rtx{
  border: 3px solid green;
  border-radius: 10px;
  margin-top: 50px;
}
.contbot{
  display: block;
  
  margin-top: 25px;
  
  
}

.botrtx{
  height: 49px;
  background: rgb(89,156,11);
background: linear-gradient(113deg, rgba(89,156,11,1) 50%, rgba(0,0,0,1) 50%);
  border: 0.5px solid;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
  
  
  
  
  }

  main .btn-enviar {
    height: 49px;
   
margin-top: 2%;

    background: linear-gradient(
      270.82deg,
      rgba(198, 0, 48, 0.84) 46.03%,
      rgba(175, 15, 159, 0.1092) 95.57%
    );
    border: 0.5px solid;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    color: white;
    font-weight: 600;
    font-size: 600;
   
  }




