
#background-logo {
    display: flex;
    height: 75px;
    background-image: linear-gradient(
        to right,
        orangered,
        orange,
        gold,
        lightgreen,
        cyan,
        dodgerblue,
        mediumpurple,
        hotpink,
        orangered);
    background-size: 110vw;

    /* Efectos de animación, a menor cantidad de tiempo mayor velocidad de cambio */
    animation: sliding 120s linear infinite;

}

@keyframes sliding {
    to {
        background-position: -2000vw;
    }
}

#logo-completo {
    height: auto;
}

#logo-letras {
    /* display: block; */
    /* height: 20px; */
    height: 50%;
    /* max-width: 100%; */
}

#logo-relleno {
    height: 20px;
}


@media only screen and (max-width: 400px){
    #logo-completo{
      width: 100%;
      height: 100%;
    }
  
    #background-logo{
      width: 60%;
      height: auto;
    }
  }
  