@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

header {
  font-size: 23px;
  line-height: 4s0px;
}

.img-fluid:hover{
  
filter: opacity(.5);
}
main{
   
    text-align: center;
    
}

main .text-comentario{
    
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

main .text-comentario0{
  font-weight: bolder;
  color: white;
  font-size: 30px;
  text-align: center;
  
}

main .text-ask0{
  color: rgb(212, 38, 102);
  font-weight: bolder;
  font-size: 30px;
  
  }

main .text-ask{
color: rgb(212, 38, 102);
font-weight: bolder;
font-size: 30px;

}

main .btn{
font-weight: bolder;
font-size: 20px;

background: linear-gradient(135deg,#79CBCA,#E684AE);
border: 0.5px solid #252525;
border-radius: 10px;
}


main .btn:hover{
  background: rgb(255, 255, 255);
  font-weight: bolder;
  }

.boton{
  
  color: black;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  background-color: rgb(212, 38, 102);
  border: 0.5px solid #252525;
  border-radius: 10px;
  
}
