@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/*Header*/
header {
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  line-height: 4s0px;
  
}

/*Registro*/
#Registro{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-size: 60px;
line-height: 70px;
font-weight: 600;
color: white;
background-image: linear-gradient( to left, DarkViolet, rgb(255, 0, 85), rgb(238, 255, 0), DeepPink, DarkViolet);
background-size: 110vw;
animation: sliding 45s ease-in-out infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
};


.bg-dark{
  background-color: black;
    
}


.formulario__input{
width: 350px;
height: 36.88px;
background: #3a3636;;
border: 1px solid rgba(255, 255, 255, 0.91);
box-sizing: border-box;
border-radius: 8px;
transition: .3s ease all;
font-family: 'Poppins', sans-serif;
color: white;
}


.formulario__input:focus{
  border: 3px solid rgb(120, 10, 163);
  outline: none;
  box-shadow: 3px 0px 30 px rgb(163, 163, 163, 0.4)
}


.formulario__label{
margin-top: 20px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
cursor:pointer;
color: white;

}

#nombre, #correo, #password, #password2, #telefono{
  font-weight: 600;
}

.formulario__validacion-estado{
  position: absolute;
  
  opacity: 0;
}

.formulario__input-error{
  color: red
}

.formulario__input-error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo{
  display: block;
}

.formulario__mensaje{
  color: red;
  display: none;

}

.formulario__mensaje-activo{
  display: block;
  
}

.formulario__btn {
height: 49px;
width: 50%;
background: linear-gradient(270.82deg, rgba(198, 0, 48, 0.84) 46.03%, rgba(175, 15, 159, 0.1092) 95.57%);
border: 0.5px solid #61B0DC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 28px;

color: #FFFFFF;
cursor: pointer;
}




.formulario__mensaje-exito{
  padding-top: 20px;
  font-size: 14px;
  color: green;
  display: none;
}

.formulario__mensaje-exito-activo{
  display: block;
}




.formulario__grupo-correcto .formulario__validacion-estado{
  color: green;
  opacity: 1;
  
}

.formulario__grupo-correcto .formulario__input{
  border: 3px solid green;  

}

.formulario__grupo-incorrecto .formulario__validacion-estado{
  color: red;
  opacity: 1;

}

.formulario__grupo-incorrecto .formulario__input{
  border: 3px solid red;
}

.formulario__grupo-incorrecto .formulario__label{
  color: red;
}