
/* Notas:
    - Para evitar conflictos con estilos aplicados previamente, los siguientes estilos de letras contienen solo colores, no tamaño o familia de tipografía.
    - Para evitar bugs en los estilos de letras con animaciones (arcoíris, por ejemplo), si se empieza con un color también se debe terminar con el mismo color. 
*/

/* Lista de colores: https://www.w3schools.com/cssref/css_colors.asp */

/* Tipos de animación: linear, ease, ease-in, ease-out */

/* A menor cantidad de segundos, más rápida la animación */


@keyframes sliding {
	to {
		background-position: -2000vw;
	}
}

.letras-arcoiris {
	color: white;
	background-image: linear-gradient(
		to right,
		orangered,
		orange,
		gold,
		lightgreen,
		cyan,
		dodgerblue,
		mediumpurple,
		hotpink,
		orangered);
	background-size: 110vw;
	animation: sliding 30s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo1 {
    color: white;
	background-image: linear-gradient(
		to left,
        PaleVioletRed,
        hotpink,
		pink,
        slateBlue,
		purple,
        PaleVioletRed);
	background-size: 110vw;
	animation: sliding 60s ease infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo2 {
    color: white;
	background-image: linear-gradient(
		to left,
        OrangeRed,
        Crimson,
        red,
        orange,
        gold,
        OrangeRed);
	background-size: 110vw;
	animation: sliding 30s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo3 {
    color: white;
	background-image: linear-gradient(
		to left,
        DarkViolet,
        rgb(255, 0, 85),
        rgb(238, 255, 0),
        DeepPink,
        DarkViolet);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo4 {
    color: white;
	background-image: linear-gradient(
		to left,
        Crimson,
		DarkOrange,
		OrangeRed,
		FireBrick,
		Gold,
        Crimson);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo5 {
    color: white;
	background-image: linear-gradient(
		to left,
		lightgreen,
		Darkgreen,
		lime,
		Greenyellow,
        lightgreen);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo6 {
    color: white;
	background-image: linear-gradient(
		to left,
		lightpink,
		MediumVioletRed,
		DeepPink,
		Plum,
        lightpink);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo7 {
    color: white;
	background-image: linear-gradient(
		to left,
		Turquoise,
		Teal,
		DeepSkyBLue,
		SkyBlue,
        Turquoise);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo8 {
    color: white;
	background-image: linear-gradient(
		to left,
		OrangeRed,
		Chocolate,
		Gold,
		Tomato,
        OrangeRed);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo9 {
    color: white;
	background-image: linear-gradient(
		to left,
		Orchid,
		MediumVioletRed,
		Magenta,
		Plum,
        Orchid);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo10 {
    color: white;
	background-image: linear-gradient(
		to left,
		DarkTurquoise,
		DodgerBlue,
		Cyan,
		LightSkyBlue,
        DarkTurquoise);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo11 {
    color: white;
	background-image: linear-gradient(
		to left,
		OrangeRed,
		FireBrick,
		red,
		Tomato,
        OrangeRed);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo12 {
    color: white;
	background-image: linear-gradient(
		to left,
		DodgerBlue,
		GreenYellow,
        DodgerBlue);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo13 {
    color: white;
	background-image: linear-gradient(
		to left,
		MintCream,
		Black,
        MintCream);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo14 {
    color: white;
	background-image: linear-gradient(
		to left,
		Red,
		gold,
        Red);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo15 {
    color: white;
	background-image: linear-gradient(
		to left,
		MediumSpringGreen,
		GreenYellow,
        MediumSpringGreen);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo16 {
    color: white;
	background-image: linear-gradient(
		to left,
		Green,
		LawnGreen,
        Green);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo17 {
    color: white;
	background-image: linear-gradient(
		to left,
		DarkBlue,
		Cyan,
        DarkBlue);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo18 {
    color: white;
	background-image: linear-gradient(
		to left,
		Maroon,
		Red,
        Maroon);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo19 {
    color: white;
	background-image: linear-gradient(
		to left,
		OrangeRed,
		Navy,
        OrangeRed);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo20 {
    color: white;
	background-image: linear-gradient(
		to left,
		DeepPink,
		DeepSkyBlue,
        DeepPink);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo21 {
    color: white;
	background-image: linear-gradient(
		to left,
		Crimson,
		Chartreuse,
        Crimson);
	background-size: 110vw;
	animation: sliding 45s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.letras-estilo22 {
    color: white;
	background-image: linear-gradient(
		to right,
		HotPink,
		DeepPink,
        HotPink);
	background-size: 110vw;
	animation: sliding 60s ease-in-out infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* ------------------------------------ */

/* Estilos fosfo fosfo */

.letras-fosfo1 {
	color: #fff;
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
  }

  