@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
header {
   
    font-size: 23px;
    line-height: 4s0px;
    
}

#anuncio-cart{
	padding:20px;
	background:linear-gradient(270.82deg, rgba(198, 0, 48, 0.84) 46.03%, rgba(175, 15, 159, 0.1092) 95.57%);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	top:40px;
	right:20px;
}
.none{
  display: none;
}


body {
    background-color: #181616;
}

h1{
  color: #da2969;
  font-weight: 600;
  font-size: 50px;

}

.container, .precio{
  font-weight: bolder;
}

.compu1{
  border: 10px solid rgb(255, 81, 0);
  border-radius: 20px; 
  
} 

.compu2{
  border: 10px solid rgb(21, 255, 0);
  border-radius: 20px; 
  
}

.compu3{
  border: 10px solid purple;
  border-radius: 20px; 
  
}

.compu4{
  border: 10px solid rgb(224, 12, 12);
  border-radius: 20px; 
  
} 

.compu5{
  border: 10px solid rgb(219, 243, 6);
  border-radius: 20px; 
  
}

.compu6{
  border: 10px solid rgb(240, 0, 188);
  border-radius: 20px; 
  
} 

.compu7{
  border: 10px solid rgb(55, 0, 255);
  border-radius: 20px; 
  
}


.pc {
    width: 70%;
    height: auto;
    border-radius: 20px;
}
 #agregar{
  font-weight: bolder;
 }

.boton1 {
background: linear-gradient(270.82deg, rgba(198, 0, 48, 0.84) 46.03%, rgba(175, 15, 159, 0.1092) 95.57%);
border: 0.5px solid #61B0DC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-style: normal;
font-size: 20px;
/* width: 20px; */
color: #FFFFFF;
min-width: 100%;
}
.boton2{
    background: rgb(34,70,195);
background: linear-gradient(70deg, rgba(34,70,195,1) 29%, rgba(81,221,15,1) 61%);
border: 0.5px solid #61B0DC;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
min-width: 100%;


}

/** footer **/
footer {
  
    padding: 1%;
  }
  footer ul a {
    margin-right: 50px;
  }
  
  footer p {
    margin-left: 50px;
  }
  
  footer .text-rocket {
    color: rgb(212, 38, 102);
    font-size: 20px;
    font-weight: bolder;
  }
  footer .text-icono1 {
    color: darkviolet;
  
    font-size: 30px;
  }
  footer .text-icono2 {
    color: cyan;
    font-size: 30px;
  }
  footer .text-icono3 {
    color: deeppink;
    font-size: 30px;
  }
  
  .figma {
    -ms-transform-origin: top center;
    transform-origin: top center;
    animation-name: fig;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes fig {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .git {
    animation-name: git;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes git {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .lin {
    backface-visibility: visible;
    animation-name: lin;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  @keyframes lin {
    0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    50% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    80% {
      -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
  }
  
